body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ui * {
  direction: rtl;
  text-align: right;
}

.ui .buttons{
  direction: ltr !important;
}


@font-face {
  font-family: 'iransans';
  src: url('/fonts/IRANSansWeb_FaNum_Light.eot'); /* IE9 Compat Modes */
  src: url('/fonts/IRANSansWeb_FaNum_Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/IRANSansWeb_FaNum_Light.woff2') format('woff2'), /* Super Modern Browsers */
  url('/fonts/IRANSansWeb_FaNum_Light.woff') format('woff'), /* Pretty Modern Browsers */
  url('/fonts/IRANSansWeb_FaNum_Light.ttf')  format('truetype');
}

h1,h2,h3,h4,h5,h6,p,span,text,textarea,input,select,button,a,b,div,li
{
  font-family: 'iransans' !important;
}